# odc-geo dependencies
pyproj
shapely
rasterio
xarray
numpy
cachetools

# dev dependencies
## linting tools
autopep8
autoflake
black
isort
mypy
pycodestyle
pylint
types-cachetools
types-certifi
shed

## test
pytest
pytest-cov
pytest-timeout

## for docs
sphinx
sphinx_rtd_theme
sphinx-autodoc-typehints
