./
# odc-geo dependencies
pyproj
shapely
rasterio
xarray
numpy
cachetools
tifffile
imagecodecs

# optional dependencies used in docs
folium
matplotlib
dask[array,distributed]

## for docs
sphinx
sphinx_rtd_theme
sphinx-autodoc-typehints
jupyter_sphinx
geopandas<1
ipykernel
