./
# odc-geo dependencies
pyproj
shapely
rasterio
xarray
numpy
cachetools

# optional dependencies used in docs
folium
matplotlib
dask[array]

## for docs
sphinx
sphinx_rtd_theme
sphinx-autodoc-typehints
jupyter_sphinx
geopandas
