./
# odc-geo dependencies
pyproj
shapely
rasterio==1.3.6
xarray
numpy
cachetools
tifffile

# optional dependencies used in docs
folium
matplotlib
dask[array]

## for docs
sphinx
sphinx_rtd_theme
sphinx-autodoc-typehints
jupyter_sphinx
geopandas
ipykernel
# work-around for rtd build issues
urllib3<2
